# Load the Rails application.
require File.expand_path('../application', __FILE__)

# Initialize the Rails application.
DeviseAuthenticationApi::Application.initialize!

smtp_settings = { 
  address:        "{{ SMTP_RELAY_HOST }}" || 'smtp.sendgrid.net',
  port:           "{{ SMTP_RELAY_PORT }}" || '587'
}

smtp_settings.merge!(domain: ENV['SMTP_DOMAIN']) unless ENV['SMTP_DOMAIN'].blank?

ActionMailer::Base.smtp_settings = smtp_settings
